h1 {
    color: red
}

body {
    font-size: large;
    background-color: lightskyblue;
}

.listOfThings {
    /* background-color: lightgreen; */
    border: green;
    border-width: 20px;
}

.btn-secondary {
    /* color: red; */
    
}